<style>
    .pre-scrollable {
        max-height: 700px;
    }
</style>
<div >
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-small btn-success" *ngIf="dataservice.user.role > 29" (click)="refresh()">Refresh cache</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-small btn-info" (click)="edit()" *ngIf="id">Edit {{id}}</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-small btn-info" (click)="addchild()" *ngIf="id">Add child to {{id}}</button>
        </div>
    </div>
    select node = {{selectedFile}}
    <ag-grid-ng2 #myGrid class="ag-fresh" style="height: 100%;"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [showToolPanel]="showToolPanel"
    rowSelection = 'multiple'
    enableColResize = true
    enableSorting = true
    rowHeight = 20
    (modelUpdated)="onModelUpdated($event)"
    (onGetNodeChildDetails)="onGetNodeChildDetails($event)"
    (cellClicked)="onCellClicked($event)"


    ></ag-grid-ng2>
</div>
