<style>
    .pre-scrollable {
        max-height: 700px;
    }
</style>
<div >
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-small btn-success" ng-show="user.role > 29" ng-click="vm.refresh()">Refresh cache</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-small btn-info" ng-click="edit()" ng-show="selectedNode.id">Edit {{selectedNode.id}}</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-small btn-info" ng-click="addchild()" ng-show="selectedNode.id">Add child to {{selectedNode.id}}</button>
        </div>
    </div>
    <ag-grid-ng2 class="ag-fresh" style="height: 100%;" [columnDefs]="columnDefs" [rowData]="rowData" ></ag-grid-ng2>
</div>
